.navbar-brand>img {
  height: 50px;
  width: auto;
  -webkit-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  transform: translateY(-15px);
}

.nextToHeader {
  margin-top: 50px;
}

.indexBanner {
  background-image: url(../images/background.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.indexText>* {
  color: white;
}

.bigIcon {
  font-size: 5rem;
  color: grey;
}

.center {
  text-align: center;
}

.separate {
  padding-top: 50px;
}

.reduceBorder {
  padding: 20px !important;
}

.separador {
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.creditos {
  font-size: 0.75em !important;
  margin: 0;
}

footer {
  margin-bottom: 30px;
}
